
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d7cec7;
    background-position:center;
   background-size:cover;
   font-family:sans-serif;
   margin-top:0;
}
.regform{
    width:800px;
    background-color:#2f3e42;
    margin-top: 80px;
    margin-left: 360px;   
    /*margin:auto;*/
    color:#FFFFFF;
    padding:10px 0px 10px 0px;
    text-align:center;
    border-radius:15px 15px 0px 0px;
}
.main{
    width:800px;
    background-color:#c09f80;
    margin:auto;
    margin-bottom: 120px;
    border-radius: 0px 0px 15px 15px;
}
form{
  padding:10px 10px 30px 10px;
}
#name{
 width:100%;
 height:100px;
 }	     
.name{
 margin-left:25px;
 margin-top:30px;
 /* width:125px; */
 color:white;
 font-size:22px;
 font-weight:700;
 font-family: "arial";
 }
.firstname{
       position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
}
.lastname{
       position:relative;
       left:417px;
       top:-80px;
       line-height:40px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
       color:#555;
      }	  
.firstlabel{
       position:relative;
       color:#E5E5E5;
       text-transform:capitalize;
       font-size:14px;
       left:203px;
       top:-45px;
       }
.lastlabel{
       position:relative;
       color:#E5E5E5;
       text-transform:capitalize;
       font-size:14px;
       left:175px;
       top:-45px;
       }
       .nationality{
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:192px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
       }	 
       .state{
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:192px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
       }	 
.adress{
       position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       width:542px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
       color:#555;
      }	  
      .city{
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:192px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
       }	 
       .hobby{
        position:relative;
        left:200px;
        top:-37px;
        line-height:40px;
        width:192px;
        border-radius:6px;
        padding:0 22px;
        font-size:16px;
        color:#555;
       }	 
.blood_group{
    position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       width:80px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
       color:#555;
}
.email{
       position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       width:542px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
       color:rgb(233, 227, 227);
      }	 
.events{
    position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       width:480px;
       border-radius:6px;
       padding:0 22px;
       font-size:20px;
       color:rgb(255, 247, 247);
}
.code{
       position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       width:95px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
       color:#555;
      }	 
.number{
       position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       width:255px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
       color:#555;
      }	

.date_of_birth{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
    font-size:16px;
}      

.area-code{
       position:relative;
       color:#E5E5E5;
       text-transform:capitalize;
       font-size:16px;
       left:100px;
       top:-4px;
       }
.phone-number{
         position:relative;
         color:#E5E5E5;
         text-transform:capitalize;
         font-size:16px;
         left:-58px;
         top:-2px;
         } 
.option{
    position:relative;
       left:200px;
       top:-37px;
       line-height:40px;
       width:542px;
       height:40px;
       border-radius:6px;
       padding:0 22px;
       font-size:16px;
       color:#011014;
       outline:none;
       overflow:hidden;
      }	 	  		 
.option option{
               font-size:20px;
               }
#coustomer{
      margin-left:25px;
      color:white;
      font-size:18px;
      }

#student{
    margin-left: 25px;
}
.radio{
  display:inline-block;
  font-size:18px;
  margin-left:25px;
  margin-top:15px;
  color:white;
  position:relative;
    left:150px;
    top:-48px;
    line-height:40px;
    border-radius:6px;
    padding:0 22px;
 }
.radio input{
         width:20px;
         height:18px;
         cursor:pointer;
         outline:none;
}
.register-button{
  background-color:#96908c;
  display:block;
  margin:auto;
  text-align:center;
  border-radius:20px;
  padding:14px 70px;
  outline:none;
  color:#242121;
  cursor:pointer;
  transition:0.25px;
  font-size:25px;
  font-family: sans-serif;
  }	 
.register-button:hover{
     background-color:#76323F; 
     color: #FFFFFF;
 }
 input[type="checkbox"]{
    width: 18px; /*Desired width*/
    height: 16px; /*Desired height*/
  }


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

header a,.header-button{
   font-family:"Poppins",sans-serif;
   font-weight:500;
   font-size:16px;
   color:#edf0f1;
   text-decoration:none;
}
.navbar{
  font-family:"Montserrat",sans-serif;
   font-weight:500;
   font-size:16px;
   color:#edf0f1;
   text-decoration:none;
}
header{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:20px 5%;
  background-color:#24252A;
}
.logo{
   margin-right: auto;
   cursor:pointer;
   max-width: 8%;
   height: auto;
}
.nav_links{
   list-style:none;
}
.nav_links li{
   display:inline-block;
   padding:0px 20px;
}
.nav_links li a{
    transition:all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:#c09f80;
}
.header-button{
  margin-left:20px; 	
  padding:8px 25px;
  background-color:#977555;
  border:none;
  border-radius:60px;
  cursor:pointer ;
  transition:all 0.3s ease 0s;
}
.header-button:hover{
	 background-color:#88623E;
}	 
button{
  align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0px;
}
.footer-col{
   /* width: 30%; */
   padding: 0 40px;
}
.first-col{
	width: 40%;
}
.second-col{
	width: 25%;
}
.third-col{
	width: 35%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #c09f80;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #c09f80;
}
.fa-map-marker, .fa-envelope, .fa-phone
{
	color:#c09f80;
}
.footer-text{
	color: #bbbbbb;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




